.main-heading{
color: #19191B;
font-family: Open Sans;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 77px; /* 102.667% */
letter-spacing: -2.501px;
}
.main-description{
    color: #696871;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.625px;
}
.main-button{
    flex-shrink: 0;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    padding: 19px 50px;

    text-align: center;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

.black2{
    display: flex;
    justify-content: space-between;
}

.block4{
    display: flex;
    justify-content: space-between;
}

.image1{
   margin-right: auto;
   padding: 100px;
}
.main-heading1{
color: #19191B;
font-family: Open Sans;
font-size: 50px;
font-weight: 700;
letter-spacing: -1.563px;
display: flex;
float: right;
}
.main-description1{
    margin-left: 600px;
    justify-content: space-between;
    display: flex;
    float: right;
    padding: -800px;
}

